.barebone-app-block {
  margin: 10px;
  padding: 10px;
  border: 1px solid currentcolor;
  color: var(--barebone-text-color);
}

.barebone-app-block__editor-message {
  border: 1px dotted currentcolor;
}

.barebone-app-snippet {
  padding: 10px;
  background-color: #ccffcc;
}

.barebone-app-embed {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #e4d2a8;
}

.barebone-app-embed__content {
  box-sizing: border-box;
  width: min(400px, 100vw);
  padding: 10px;
}

.barebone-app-proxy-response,
[data-barebone-shopify-dump] {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
