._my_app_block {
    border-style: solid;
}

._my_app_block_editor {
    border-style: dotted;
}

._my_app_snippet {
    background-color: #ccffcc;   
}

._my_app_embed_block {
    position: fixed; bottom: 0; right: 0;
    background-color: #e4d2a8;    
}

._my_app_embed_block_child {
    width:400px;  
    padding: 10px;
}

