<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>My_Payment _App</title>
</head>

<body>
  <div style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">
    <h1>My payments app admin</h1>
    <div>My key:<input id="my_key" type="text" value="<%= my_key %>"></div>
    <br/>
    <div><button id="save">Save</button>&nbsp;&nbsp;<button id="cancel">Cancel</button></div>
  </div>
  <script>
    const save = function () {
      window.location.href = `/configure?action=save&token=<%= token %>&my_key=${document.getElementById('my_key').value}`;
    };
    document.getElementById('save').addEventListener('click', save);

    const cancel = function () {
      window.location.href = `/configure?action=cancel&token=<%= token %>`;
    };
    document.getElementById('cancel').addEventListener('click', cancel);
  </script>
</body>

</html>