<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>
<title>Pay</title>

<body>
    <div style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">
        <h1>My paymnents app buyer page</h1>
        <div>Payment session headers:
            <pre style="text-align: left;">
<%= JSON.stringify(headers, null, 2) %>
            </pre> 
            </div>
        <div>Payment session body:
        <pre style="text-align: left;">
<%= JSON.stringify(body, null, 2) %>
        </pre> 
        </div>
        <br/>
        <div>My key: <%= my_key %></div>
        <br/>
        <div>Choose your action:
            <select id="action">
                <option value="resolve">Resolve</option>
                <option value="pending">Pending</option>
                <option value="reject">Reject</option>
            </select>
        </div>
        <br/>
        <div>Error message (for "Reject" only):<input id="error" type="text" value=""></div>
        <br/>
        <br/>
        <div><button id="process">Process</button>&nbsp;&nbsp;<button id="cancel">Cancel</button></div>
    </div>

    <script>
        const process = function () {
            const action = document.getElementById('action').options[document.getElementById('action').selectedIndex].value;
            window.location.href = `/process?action=${action}&token=<%= token %>&error=${document.getElementById('error').value}`;
        };
        document.getElementById('process').addEventListener('click', process);

        const cancel = function () {
            window.location.href = `<%= cancel_url %>`;
        };
        document.getElementById('cancel').addEventListener('click', cancel);        
    </script>
</body>

</html>