<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My barebone app dummy SSO service</title>
    <style>
        input[type="text"] {
            width: 400px;
        }

        input[type="submit"] {
            font-size: large;
        }

        div {
            margin-left: 20%;
            margin-right: 20%;
            text-align: center;
        }

        div.input {
            text-align: left;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
    <div>
        <h1>Dummy login for Multipass SSO</h1>
        <h2><a href="https://shopify.dev/docs/api/multipass" target="_blank">Dev. doc</a></h2>
        <form method="POST" action="multipass">
            <fieldset>
                <legend>Input your login data to convert to a Shopify customer ( "Email" is mandatory)
                </legend>
                <div class="input">
                    <label for="email"><b>Email:</b></label><br />
                    <input type="text" name="email" id="email" placeholder="test@example.com" />
                </div>
                <div class="input">
                    <label for="identifier">Identifier:</label> (for the existing customer given by <a
                        href="https://shopify.dev/docs/api/admin-graphql/2023-10/objects/Customer#field-customer-multipassidentifier"
                        target="_blank">Admin API</a>)<br />
                    <input type="text" name="identifier" id="identifier" placeholder="nic123" />
                </div>
                <div class="input">
                    <label for="password">Password:</label><br />
                    <input type="text" name="password" id="password" disabled="true"
                        value="Note that you don't have to give your password to Multipass!" />
                </div>
                <div class="input">
                    <label for="first_name">First name:</label><br />
                    <input type="text" name="first_name" id="first_name" placeholder="Nic" />
                </div>
                <div class="input">
                    <label for="last_name">Last name:</label><br />
                    <input type="text" name="last_name" id="last_name" placeholder="Potts" />
                </div>
                <div class="input">
                    <label for="tag_string">Tags separated by ",":</label><br />
                    <input type="text" name="tag_string" id="tag_string" placeholder="canadian, premium" />
                </div>
                <div class="input">
                    <label for="remote_ip">Remote IP: (get via <a href="https://whatismyipaddress.com/"
                            target="_blank">this site</a>)</label><br />
                    <input type="text" name="remote_ip" id="remote_ip" placeholder="107.20.160.121" />
                </div>
                <div class="input">
                    <label for="return_to">URL to return:</label><br />
                    <input type="text" name="return_to" id="return_to"
                        placeholder="http://your_store_or_some_specific_site" />
                </div>
            </fieldset>
            <p>
                <input type="submit" value="Login to the following store" />
            </p>

            <label for="token">Store to login:</label><br />
            <input type="text" name="shop" value="<%= shop %>" id="shop">
        </form>
    </div>
</body>

</html>