<span style="color: {{ block.settings.color }}">
  Barebone Theme App Extension Sample with
  <a href="https://shopify.dev/apps/online-store/app-proxies" target="_blank">App Proxies</a>
</span>

{% render "barebone_snippet" %}
{% schema %}
  {
    "name": "Barebone App Sample",
    "target": "section",
    "stylesheet": "barebone.css",
    "javascript": "barebone.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}