<span style="color: {{ block.settings.color }}">
  <p>
    Barebone Theme App Extension Sample 2 with
    <a href="https://shopify.dev/apps/online-store/app-proxies" target="_blank">App Proxies</a>
  </p>
  <p>
    This is in `blocks/app-block.liquid' with the font color set by the color selector.
  </p>
</span>

{% if request.design_mode %}
  <!-- This will only render in the theme editor -->
  <p>I think you are viewing this app block within theme editor, right? &#x1f609</p>
{% endif %}

{% render "barebone_snippet" %}

{% schema %}
  {
    "name": "Barebone App Sample 2",
    "target": "section",
    "stylesheet": "barebone.css",
    "javascript": "barebone.js",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}