<script>
  // NOTE THAT this script cannot call functions defined in `assets/***.js`.
  console.log("snipets/barebone_snipet.liquid");
</script>

<div class="_my_app_snippet">
  <p>
    Shown in
    <b>'snipets/barebone_snippet.liqud'</b>
    in the color defined by value of
    <b>'assets/barebone.css'</b>.
  </p>
</div>