<script>
  // NOTE THAT this script cannot call functions defined in `assets/***.js`.
  console.log("barebone_snipet.liquid");
</script>

<div class="_my_barebone_app_sample">
  <p>
    This is in
    <b>'snipets/barebone_snippet.liqud'</b>
    with background color defined by
    <b>'assets/barebone.css'</b>.
  </p>
</div>