<script>
  // NOTE THAT this script cannot call functions defined in `assets/***.js`.
  console.log("snipets/barebone_snipet.liquid");
</script>

<div class="_my_app_snippet">
  <p>
    Theme App Extension
    <a href="https://shopify.dev/themes/architecture#snippets" target="_blank">Snippet</a>
    rendered by
    <b>the parent block</b>
  </p>
  <p>
    in
    <b>'snipets/barebone_snippet.liquid'</b>
    with the background color defined by value of
    <b>'assets/barebone.css'</b>.
  </p>
</div>